*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.tgz
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN

*.log
log.txt
npm-debug.log*

.idea
.ionic
.sass-cache
.sourcemaps
.versions
# .vscode
coverage
dist
node_modules
platforms
plugins
www

*.tsbuildinfo

# apps/libraries are in their own repositories
apps/ibgib
apps/plain-gib
apps/ng-ionic-gib
libs/core-gib
libs/encrypt-gib
libs/ts-gib
libs/capacitor-gib
libs/helper-gib
libs/aws-dynamodb-sync-space-gib

