:host {
  border-color: green;
  border-width: 3px;
  border-style: solid;
  background-color: purple;
  height: 700px !important;
  width: 700px;
}


.testingdiv {
  height: 700px;
}

    // "sidebar_action": {
    //     "default_panel": "index.html?target=sidebar",
    //     "default_title": "ibgib",
    //     "default_icon": {
    //         "32": "/assets/icon/favicon.png",
    //         "64": "/assets/icon/favicon.png"
    //     }
    // },